.content {
    margin-top:80px;
    width: 100%;
    height: 100vh;
    background:linear-gradient(to top, rgb(209, 207, 207), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-children{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    background: transparent;
    
    margin-bottom: 400px;
}
img{
    width: 90%;
    height: 190px;
    border-radius: 15px;
}


.container-ima {
    display: inline-block;
    width: 30%;
    height: 25%;
    background: rgb(160, 156, 156);
    margin: 20px;
    border-radius: 15px;

}

.container-descripcion {
    display: flex;
    width: 70%;
    height: 190px;
    background: rgb(235, 232, 232);
    margin: 20px;
    padding: 10px;
    text-align: justify;
    border-radius: 15px;

}

.container-descripcion p {
    margin-top: 50px;
    display: flex;
    padding: 20px;
    margin-left: 10;
    

}
.container-descripcion h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 30px;
    

}


.btn1{
    margin-right: 30px;
    margin-top: 50px;
    padding: 5px;
    width: 100px;
    height: 50px;
    display: flex;
    margin-bottom: 5px;
    border-radius: 15px;
    border: none;
}



/* .btn1:active {
    
    background: linear-gradient(to bottom, rgb(189, 192, 192), rgb(59, 128, 128));
    color: #000;
    
    
} */



.btn1:hover{
    background:linear-gradient(to bottom, transparent, rgb(92, 92, 92));
    
    border: 2px white;
    padding: 8px;
    cursor:pointer;
}

