* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Handlee', cursive;
  /* border: 1px solid red; */
  
}



html {
  font-size: 62.5%;
  box-sizing: border-box;
} 

*, *::before, *::after {
  box-sizing: inherit;
}